legend{
    font-weight: bold;
    font-size: 18px;
    text-decoration: ;
}
#text_area{
    text-align: right;
    row
}
#container{
    border-right: none;
}
#container2{
    border-right: none;
    border-bottom: none;
}
