h1, h2 {
    text-align: center;
}

p {
    text-align: center;
    font-size: large;
    background-color: aqua;
    width: 600px;
    margin: 2em auto;
}

#maze {
    margin: auto;
    position: relative;
    height: 300px;
    width: 500px;
    cursor: pointer;
}

#start, #end {
    position: absolute;
    top: 205px;
    height: 30px;
    width: 30px;
    border: 1px solid black;
    padding: 5px;
    cursor: default;

    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 25pt;
    text-align: center;
    z-index: 10;
}

#maze #start {
    background-color: #f33e31;
    left: 0;
}

#maze #end {
    background-color: rgba(39, 245, 101, 0.533);
    right: 0;
}

div.boundary {
    background-color: #eeeeee;
    border: 1px solid black;
}

div.boundary.example {
    margin: auto;
    width: 100px;
    height: 25px;
}

div.youlose {
    background-color: #e7a413;
}

#maze div.boundary {
    position: absolute;

    top: 0;
    left: 0;
    height: 200px;
    width: 150px;
    z-index: 1;
}

#maze div.boundary + div.boundary {
    border-left: none;
    border-right: none;
    z-index: 2;

    left: 151px;
    height: 50px;
    width: 198px;
}

#maze div.boundary + div.boundary + div.boundary {
    border-left: 1px black solid;
    border-right: 1px black solid;
    z-index: 1;

    left: 348px;
    height: 200px;
    width: 150px;
}

#maze div.boundary + div.boundary + div.boundary + div.boundary {
    border: 1px black solid;

    top: 250px;
    left: 0;
    height: 48px;
    width: 498px;
}

#maze div.boundary + div.boundary + div.boundary + div.boundary + div.boundary {
    border-bottom: none;
    top: 100px;
    left: 200px;
    height: 150px;
    width: 98px;
}

#validation{
    position: fixed;
    bottom: 0;
    left: 0;
}